@import "../../base.scss";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  background-color: $color-green-medium;

  span {
    @include button-label();
    color: $color-white;
  }

  &:hover {
    background-color: $color-green-dark;
    cursor: pointer;
  }
}
