@import "../../../base.scss";

.Columns {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

@media screen and (max-width: $small-screen-breakpoint) {
  .Columns {
    flex-direction: column;
  }
}
