@import "../../base.scss";

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $page-width;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid $color-grey-light;
}

.Logo {
  display: flex;
  align-items: center;

  span {
    @include label();
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .NavBar {
    padding: 0 10px;
  }
}
