@import "../../base.scss";

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $page-width;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid $color-grey-light;
}

.Logo {
  display: flex;
  align-items: center;

  span {
    @include label();
  }
}

.NavItems {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.NavItem {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  position: relative;

  span {
    @include label();
  }

  &:hover:not(.Active) {
    span {
      color: $color-grey-dark;
    }
  }
}

.Marker {
  position: absolute;
  bottom: 4px;
  height: 4px;
  transform: translateY(100%);
  background-color: $color-blue-medium;
  transition: left 400ms ease, width 200ms ease;
}

@media screen and (max-width: $small-screen-breakpoint) {
  .NavItems {
    display: none;
  }
}
