@import "../../base.scss";

.Bubble {
  padding: 40px;
  border-radius: 12px;
  background-color: $color-blue-transparent;
  text-align: center;
  position: relative;

  span {
    @include text-medium();
  }

  h3 {
    @include title-small();
  }
}

.Arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-bottom-color: $color-blue-transparent;

  &.Top {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%) rotate(180deg);
  }

  &.Bottom {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &.Left {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%) rotate(90deg);
  }

  &.Right {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%) rotate(-90deg);
  }
}
