// Color tokens
$color-black: #333333;
$color-grey-dark: #828282;
$color-white: #ffffff;
$color-green-dark: #64a268;
$color-green-medium: #86c481;
$color-blue-dark: #7a9dea;
$color-blue-medium: #96b6f3;
$color-blue-light: #bad0f7;

// Text styles
@mixin title-large {
  font-family: "Giddyup", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

@mixin text-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@mixin text-large {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin text-small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@mixin button-label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
