body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Giddyup";
  font-weight: 400;
  src: url("/public/assets/fonts/GiddyupStd.otf");
}
